<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link href="/styles/main.css" rel="stylesheet">-->
    <!--<link href="/styles/simple-sidebar.css" rel="stylesheet">-->
    <!--<link href="/styles/temp.css" rel="stylesheet">-->
</head>
<body layout="column" >
<md-button ng-href="/register" ng-hide="$root.currentUser">Sign up</md-button>

<md-toolbar layout="row" class="global-header" layout-align="start center" layout-padding ng-show="$root.currentUser">

    <span flex><img src="images/logo.png" class="logo"></span>
    <div class="navbar-right navbar-text">

        <div ng-show="$root.currentUser">{{ $root.currentUser }}</div>
        <md-button ng-href="/logout" ng-show="$root.currentUser">Logout</md-button>
    </div>
</md-toolbar>





<div>
    <div id="wrapper" >

        <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-show="$root.currentUser">
            <ul class="sidebar-nav">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a ng-href="/deviceList"><i class="fa fa-binoculars"></i> Device Monitoring</a>
                </li>
                <li>
                    <a href="/admin"><i class="fa fa-user-secret"></i> Admin</a>
                    <ul >
                        <li>
                            <a href="/gateway"><i class="fa fa-level-up"></i> Gateway</a>
                        </li>
                        <li>
                            <a href="/deviceListAdmin"><i class="fa fa-level-up"></i>Device List</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/userList"><i class="fa fa-users"></i> Users</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wifi"></i> About</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="">
                <div class="row">
                    <div class="col-lg-12">
                        <md-content flex>
                            <div ui-view ></div>
                        </md-content>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div></div>



</body>