body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background: #f0f0f0;
}

h1 {
    font-weight: 300;
    font-size: 24px;
    color: #585f69;
    margin: 10px 8px 15px 8px;
}

#page-content-wrapper {
    padding: 15px;
}

.global-header {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.global-header .navbar-text {
    margin: 0;
}
.global-header.layout-padding {
    padding-top: 2px;
    padding-bottom: 2px;
}
.global-header.layout-padding > .flex {
    padding-top: 0;
    padding-bottom: 0;
}
.global-header .logo {
}
#sidebar-wrapper {
    position: absolute !important;
    top: 0;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
}
#sidebar-wrapper .sidebar-nav {
    position: inherit !important;
}
.sidebar-nav {
    margin-top: 75px;
}
.sidebar-nav li {
    text-indent: 0;
    border-bottom: 1px solid #f5f5f5;
}
.sidebar-nav li ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li ul li a {
    padding-left: 45px;
}
.sidebar-nav li ul li i {
    margin-right: 5px;
}
.sidebar-nav li i.fa-level-up {
    transform: rotate(90deg);
}
.sidebar-nav li i {
    margin-right: 10px;
}
.sidebar-nav li a {
    font-size: 13px;
    color: #515d6e;
    padding-left: 15px;
    letter-spacing: 0.025em;
}
.sidebar-nav li a:hover {
    color: #072f4f;
    background: rgba(144,202,249 ,0.5);
}
.sidebar-nav li a:focus {
    color: #fff;
    background: #ffa558;
}

md-content {
    background: none;
}

md-toolbar.page-toolbar {
    background: #ffffff;
}

md-toolbar.page-toolbar .md-toolbar-tools h2 {
    font-size: 20px;
    color: #FFA000;
    font-weight: 400;
}
md-toolbar.page-toolbar .md-toolbar-tools .md-button, md-toolbar.page-toolbar .md-toolbar-tools md-icon {
    color: rgba(0, 0, 0, 0.54);
}


table[md-data-table] > thead:not([md-table-progress]) > tr {
    height: 35px;
}

md-dialog md-toolbar {
    min-height: 48px;
}

md-dialog .md-toolbar-tools h2 {
    font-size: 19px;
}
.btn-success, .btn-success.md-raised, .btn-success:hover, .btn-success.md-raised:hover {
    background-color: #4caf50;
    border-color: #4aab4e;
    color: #fff !important;
}

md-dialog md-dialog-content {
    padding: 5px 15px 10px 15px;
}
md-dialog md-tabs-content-wrapper {
    padding-top: 15px;
}
md-dialog md-input-container.md-icon-float > label {
    margin-left: 0;
}

