<md-dialog aria-label="demo dialog with tabs">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Global Configuration</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times" ng-click="cancel()"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout>
            <md-tabs flex class="my-tabs" md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
                <md-tab>
                    <md-tab-label>Settings</md-tab-label>
                    <md-tab-body>
                        <div class="min-540">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Permit Join</label>
                                        <input name="time" ng-model="gconf.timeScnd"  ng-disable="true"/>
                
                                    </md-input-container>
                                    <md-button ng-click="setPermitJoin()" class="md-raised md-warn md-button md-default-theme">
                                        Set Time
                                    </md-button>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Change RF Channel</label>
                                        <input name="time" ng-model="gconf.rfChannel"  ng-disable="true"/>
                
                                    </md-input-container>
                                    <md-button ng-click="setRfChannel()" class="md-raised md-warn md-button md-default-theme" >
                                        Set RF Channel
                                    </md-button>

                                    <md-input-container md-no-float class="md-block" flex-gt-sm>
                                        <i ng-class="dev.calendar?'fa fa-calendar-check-o':'fa fa-calendar-times-o'"></i>  Set Calendar
                                        <md-switch ng-model="gconf.calendar" aria-label="Switch 1" ng-click="setCalendar()"></md-switch>
                                    </md-input-container>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="hide()" style="margin-right:20px;" >
                Close
            </md-button>
        </div>
    </form>
</md-dialog>