<md-data-table-toolbar>
    <h2 class="md-title">Gateway Details </h2>
</md-data-table-toolbar>

<md-data-table-container>
    <table md-data-table md-row-select="selected" md-progress="deferred">
        <thead>
        <tr>
            <th order-by="name">Build</th>
            <th order-by="name">Server Time</th>
            <th order-by="name">MAC Address</th>
            <th order-by="name">Pan ID</th>
            <th order-by="name">RF Channel</th>
            <th order-by="name">Boot Counter</th>
            <th order-by="name">Gateway Version</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in devices">
            <td>{{gateway.build}}</td>
            <td>{{gateway.servertime}}</td>
            <td>{{gateway.mac_address}}</td>
            <td>{{gateway.pan_id}}</td>
            <td>{{gateway.rf_channel}}</td>
            <td>{{gateway.bootcounter}}</td>
            <td>{{gateway.gateway_ver}}</td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>