<md-dialog aria-label="demo dialog with tabs">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Device # {{dev.dev}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times" ng-click="cancel()"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout>
            <md-tabs flex class="my-tabs" md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
                <md-tab>
                    <md-tab-label>Info</md-tab-label>
                    <md-tab-body>
                        <div class="min-540">
                            <md-input-container>
                                <div >
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">Device Id :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">{{dev.dev}}</span>
                                                </div>
                                            </div>
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">MAC Address :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">{{dev.mac}}</span>
                                                </div>
                                            </div>
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">Device PAN Id :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">{{dev.pan}}</span>
                                                </div>
                                            </div>


                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">RSSI Rx (%) :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">{{dev.rr}}</span>
                                                </div>
                                            </div>
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">RSSI Tx (%) :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">{{dev.rt}}</span>
                                                </div>
                                            </div>
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">RTC time :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">{{dev.rtc}}</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">Dimming Level :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <md-progress-circular md-mode="determinate" value="{{dev.l[0]}}"></md-progress-circular>
                                                    <span class="md-body-1">{{dev.l[0]}}%</span>
                                                </div>
                                            </div>
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">Visibility :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="dev.visibility">{{dev.visibility? 'On' : 'Off'}}</md-switch>
                                                </div>
                                            </div>
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">Time Out :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <md-switch ng-disabled="true" aria-label="Disabled switch" ng-model="dev.to">{{dev.to? 'On' : 'Off'}}</md-switch>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </md-input-container>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Settings</md-tab-label>
                    <md-tab-body>
                        <div class="min-540">
                            <div>
                                <md-input-container md-no-float class="md-block">
                                    <i ng-class="dev.calendar?'fa fa-calendar-check-o':'fa fa-calendar-times-o'">  Set Calendar</i>
                                    <md-switch ng-model="dev.calendar" aria-label="Switch 1"></md-switch>
                                    <md-button class="md-raised md-warn"><i class="fa fa-envelope-o"></i> Clear Calendar</md-button>
                                </md-input-container>
                                <div>
                                    <md-content>
                                        <div>
                                        <span ng-repeat="item in addedList track by $index">
                                            {{item.name}}
                                            <i class="fa fa-times" ng-click=""></i>
                                        </span>
                                        </div>
                                        <md-autocomplete
                                                ng-disabled="isDisabled"
                                                md-no-cache="noCache"
                                                md-selected-item="selectedItem"
                                                md-search-text-change="searchTextChange(searchText)"
                                                md-search-text="searchText"
                                                md-selected-item-change="selectedItemChange(item)"
                                                md-items="item in querySearch(searchText)"
                                                md-item-text="item.email"
                                                md-min-length="0"
                                                placeholder="Pick an Angular repository"
                                                md-menu-class="autocomplete-custom-template">
                                            <md-item-template>
                                    <span class="item-title">
                                      <span> {{item.email}} </span>
                                    </span>
<!--                                     <span class="item-metadata">
                                      <span class="item-metastat">
                                        <strong>{{item.watchers}}</strong> watchers
                                      </span>
                                      <span class="item-metastat">
                                        <strong>{{item.forks}}</strong> forks
                                      </span>
                                    </span> -->
                                            </md-item-template>
                                        </md-autocomplete>
                                    </md-content>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Message</label>
                                    <textarea ng-model="user.biography" columns="1" md-maxlength="800" rows="5"></textarea>
                                </md-input-container>
                                <md-button class="md-raised md-primary"><i class="fa fa-bell-o"></i> Send Alarm</md-button>
                                <md-button class="md-raised md-warn"><i class="fa fa-envelope-o"></i> Send Message</md-button>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Power Consumption</md-tab-label>
                    <md-tab-body>
                        <div class="min-540">
                            <div>
                                <div google-chart chart="chartObject"
                                     style="height:400px; width:100%;">
                                </div>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Reporting</md-tab-label>
                    <md-tab-body>
                        <div class="min-540">
                            <span>test</span>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="hide()" style="margin-right:20px;" >
                Close
            </md-button>
        </div>
    </form>
</md-dialog>
