<md-dialog aria-label="demo dialog with tabs">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Device # {{dev.dev}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times" ng-click="cancel()"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout>
            <md-tabs flex class="my-tabs" md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
                <md-tab>
                    <md-tab-label>Info</md-tab-label>
                    <md-tab-body>
                        <div class="min-540">
                            <md-input-container>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">Device Id :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">
                                                        <input type="text" ng-model="dev.dev"/>
                                                    </span>
                                                </div>
                                            </div>
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">MAC Address :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">

                                                        {{dev.mac}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">Device PAN Id :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">{{dev.pan}}</span>
                                                </div>
                                            </div>


                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">RSSI Rx (%) :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">{{dev.rr}}</span>
                                                </div>
                                            </div>
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">RSSI Tx (%) :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">{{dev.rt}}</span>
                                                </div>
                                            </div>
                                            <div div class="row">
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">RTC time :</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span class="md-body-1">{{dev.rtc}}</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                            </md-input-container>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Settings</md-tab-label>
                    <md-tab-body>
                        <div class="min-540">
                            <div>
                                <md-input-container md-no-float class="md-block">
                                    <i ng-class="dev.calendar?'fa fa-calendar-check-o':'fa fa-calendar-times-o'">  Set Calendar</i>
                                    <md-switch ng-model="dev.calendar" aria-label="Switch 1"></md-switch>
                                    <md-button class="md-raised md-warn"><i class="fa fa-envelope-o"></i> Clear Calendar</md-button>
                                </md-input-container>
                                <div>
                                    <md-content>
                                        <div>
                                        <span ng-repeat="item in addedList track by $index">
                                            {{item.name}}
                                            <i class="fa fa-times" ng-click=""></i>
                                        </span>
                                        </div>
                                        <md-autocomplete
                                                ng-disabled="isDisabled"
                                                md-no-cache="noCache"
                                                md-selected-item="selectedItem"
                                                md-search-text-change="searchTextChange(searchText)"
                                                md-search-text="searchText"
                                                md-selected-item-change="selectedItemChange(item)"
                                                md-items="item in querySearch(searchText)"
                                                md-item-text="item.email"
                                                md-min-length="0"
                                                placeholder="Pick an Angular repository"
                                                md-menu-class="autocomplete-custom-template">
                                            <md-item-template>
                                    <span class="item-title">
                                      <span> {{item.email}} </span>
                                    </span>
<!--                                     <span class="item-metadata">
                                      <span class="item-metastat">
                                        <strong>{{item.watchers}}</strong> watchers
                                      </span>
                                      <span class="item-metastat">
                                        <strong>{{item.forks}}</strong> forks
                                      </span>
                                    </span> -->
                                            </md-item-template>
                                        </md-autocomplete>
                                    </md-content>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Message</label>
                                    <textarea ng-model="user.biography" columns="1" md-maxlength="800" rows="5"></textarea>
                                </md-input-container>
                                <md-button class="md-raised md-primary"><i class="fa fa-bell-o"></i> Send Alarm</md-button>
                                <md-button class="md-raised md-warn"><i class="fa fa-envelope-o"></i> Send Message</md-button>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Config</md-tab-label>
                    <md-tab-body>
                        <div class="min-540">
                            <div>
                                <div flex="10" layout layout-align="center center">
                                    <span class="md-body-1">Dim level</span>
                                </div>
                            </div>
                            <div>
                                <div layout>
                                    <div flex="10" layout layout-align="center center">
                                        <span class="md-body-1">Dim level</span>
                                    </div>
                                    <md-slider flex class="md-primary" md-discrete ng-model="config.dimLevel" step="1" min="1" max="100" aria-label="rating">
                                        {{config.dimLevel}}
                                    </md-slider>
                                    <md-button ng-click="setDimLevel()" style="margin-right:20px;" >
                                        Set Value
                                    </md-button>
                                </div>
                                <div>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Current Time</label>
                                        <input name="social" ng-model="config.rtc | date"  ng-disable="true"/>
                
                                    </md-input-container>
                                    <md-button ng-click="setRTC()" style="margin-right:20px;" >
                                        Set RTC
                                    </md-button>
                                </div>
                                


                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Power Consumption</md-tab-label>
                    <md-tab-body>
                        <div class="min-540">
                            <div>
                                <div google-chart chart="chart"
                                     style="width:400px">
                                </div>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>Scheduler</md-tab-label>
                    <md-tab-body>
                        <div class="min-540">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div id="eventCalendar" ui-calendar="calendarConfig" ng-model="eventSources" calendar="calendar"></div>
                                </div>
                                <div class="col-lg-7">
                                    <md-data-table-container>
                                        <table md-data-table md-row-select="selected" md-progress="deferred">
                                            <thead>
                                            <tr>
                                                <th order-by="name">Parameter</th>
                                                <th order-by="name">Dim Level</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="inputs in inputData">
                                                <td>
                                                    <input type="number" ng-model="inputs.time" placeholder="time" aria-label="time"/>
                                                </td>
                                                <td>
                                                    <input type="number" ng-model="inputs.level" placeholder="dim level" aria-label="dimlevel"/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </md-data-table-container>
                                </div>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="hide()" style="margin-right:20px;" >
                Close
            </md-button>
        </div>
    </form>
</md-dialog>
