<h1>Device Monitoring</h1>
<md-card>
    <md-toolbar class="md-table-toolbar md-default page-toolbar">
        <div class="md-toolbar-tools">
            <h2>Device List</h2>
        </div>
    </md-toolbar>

<md-data-table-container>
    <table md-data-table md-row-select="selected" md-progress="deferred">
        <thead>
        <tr>
            <th order-by="name">Address</th>
            <th order-by="name">MAC</th>
            <th order-by="name">Type</th>
            <th order-by="name">Pan</th>
            <th order-by="name">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in devices">
            <td>{{result.addr}}</td>
            <td>{{result.mac}}</td>
            <td>{{result.type}}</td>
            <td>{{result.pan}}</td>
            <td><i class="fa fa-cogs" ng-click="showAdvanced($event, result)"></i></td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>


</md-card>
<!-- <md-content flex-gt-lg layout-gt-sm="row" class="ma-parties-list">
<div flex-gt-lg flex-lg layout="row" style="min-height:500px;">
    <ui-gmap-google-map options="map.options" center="map.center" zoom="map.zoom" flex layout="row">
        <ui-gmap-markers models="devices" coords="'location'" click="onClicked()"
                         fit="true" idkey="'_id'" doRebuildAll="true">
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>
</md-content> -->

