<md-data-table-toolbar>
    <h2 class="md-title">Device List</h2>
</md-data-table-toolbar>
<md-button class="md-fab" aria-label="add" ng-click="add_open = !add_open">
    <md-icon md-font-set="material-icons"><i class="fa fa-plus"></i></md-icon>
</md-button>
<md-button class="md-fab" aria-label="add" ng-click="showAdvanced($event)">
    <md-icon md-font-set="material-icons"><i class="fa fa-cogs"></i></md-icon>
</md-button>
<div ng-hide="add_open">
  <span>Add New Device By MAC</span>
    <div div class="row" >
     <div div class="col-lg-6">
        <div class="col-lg-2">
            <span class="md-body-1">Device MAC :</span>
        </div>
        <div class="col-lg-3">
            <span class="md-body-1">
                <input type="text" ng-model="mac"/>
            </span>
        </div>
        <div class="col-lg-3">
            <md-button class="md-raised md-warn" ng-click="addDevice()"> Add</md-button>
        </div>
        <div class="col-lg-3">
            <md-button ng-click="add_open = true" style="margin-right:20px;" >Cancel</md-button>
        </div>
    </div>
</div>
</div>
<md-data-table-container>
    <table md-data-table md-row-select="selected" md-progress="deferred">
        <thead>
        <tr>
            <th order-by="name">Address</th>
            <th order-by="name">MAC</th>
            <th order-by="name">Type</th>
            <th order-by="name">Pan</th>
            <th order-by="name">&nbsp;</th>   
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in devices">
            <td>{{result.addr}}</td>
            <td>{{result.mac}}</td>
            <td>{{result.type}}</td>
            <td>{{result.pan}}</td>
            <td><i class="fa fa-cogs" ng-click="showAdvanced($event, result)"></i></td>
            <td><i class="fa fa-times" ng-click="removeDevice(result)"></i></td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>
<!-- <md-content flex-gt-lg layout-gt-sm="row" class="ma-parties-list">
<div flex-gt-lg flex-lg layout="row" style="min-height:500px;">
    <ui-gmap-google-map options="map.options" center="map.center" zoom="map.zoom" flex layout="row">
        <ui-gmap-markers models="devices" coords="'location'" click="onClicked()"
                         fit="true" idkey="'_id'" doRebuildAll="true">
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>
</md-content> -->

