<md-content flex-gt-sm layout-gt-sm="row">
  <span flex></span>
  <md-whiteframe layout="column" flex="50">
      <h3 class="form-title">Sign In</h3>
    <div ng-show="error" class="md-warn alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <small>{{ error }}</small>
    </div>
    <form layout="column">
      <md-input-container>
        <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
        <input type="text" ng-model="credentials.email"
               placeholder="email" aria-label="email"/>
      </md-input-container>
      <md-input-container>
        <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
        <input type="password" ng-model="credentials.password"
               placeholder="password" aria-label="password"/>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="login()"
                 aria-label="login">Sign In
      </md-button>
    </form>

  </md-whiteframe>
  <span flex></span>
</md-content>