<md-dialog aria-label="Device Advance Settings">
<form novalidate="" name="itemForm">
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Add User {{headerText}}</h2>
        <span flex></span>
        <md-button></md-button>
        <md-button class="md-icon-button" ng-click="cancel()">
            <i class="fa fa-times"></i>
        </md-button>

    </div>
</md-toolbar>
<md-dialog-content style="width:800px;height:800px; ">
    <md-tabs flex class="my-tabs" md-center-tabs="false" md-selected="activeTabIndex" md-no-ink="true" md-autoselect="false" md-dynamic-height="true">
        <md-tab>
            <md-tab-label>Profile</md-tab-label>
            <md-tab-body>
                <div class="row">
                    <div class="col-md-12">
                        <md-input-container class="md-icon-float" >
                            <label>Name</label>
                            <input ng-model="credentials.username" name="email" type="text" ng-required="true">
                        </md-input-container>
                        <md-input-container class="md-icon-float" >
                            <label>Email</label>
                            <input ng-model="credentials.email" name="email" type="text" ng-required="true">
                        </md-input-container>
                    </div>
                </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>Password</md-tab-label>
                <md-tab-body>
                    <div class="row">
                        <div class="col-md-12">
                            <md-input-container class="md-icon-float" >
                                <label>Password</label>
                                <input ng-model="credentials.password" name="password" type="password" ng-required="true">
                            </md-input-container>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

</md-dialog-content>

<div class="md-actions" layout="row">
    <div ng-if="type === 'save'">
        <md-button  class="md-raised btn-success" md-autofocus ng-click='addUser()'>
            Save
        </md-button>
        <span flex></span>
    </div>
    <div ng-hide="type">
        <md-button class="md-raised btn-success"  md-autofocus ng-click='update()'>
            Update
        </md-button>
        <span flex></span>
        <!--<md-button class="md-raised md-warn" ng-click='hide()'>-->
            <!--Remove-->
        <!--</md-button>-->
    </div>

    <md-button style="margin-right:20px;" ng-click='cancel()'>
        Close
    </md-button>
</div>
</form>
</md-dialog>