<h1>Users</h1>
<md-content>
    <md-card>
        <md-toolbar class="md-table-toolbar md-default page-toolbar">
            <div class="md-toolbar-tools">
                <h2>List of Users</h2><div flex></div>
                <md-button class="md-icon-button md-button md-ink-ripple" aria-label="Eat cake" ng-click="showUser($event, 'save')">
                    <md-icon class="material-icons">person_add</md-icon>

                </md-button>
            </div>
        </md-toolbar>
    <md-data-table-container>
        <table md-data-table md-row-select="selected" md-progress="deferred">
            <thead>
            <tr>
                <th order-by="name">Email</th>
                <th order-by="name">Create Date</th>
                <th order-by="name">&nbsp;</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in usersList">
                <td>{{user.emails[0].address}}</td>
                <td>{{user.createdAt | date : format : timezone }}</td>
                <td><i class="fa fa-cog" ng-click="showUser($event, false, user)"></i></td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>

    </md-card>
</md-content>