
.navbar-text {
    margin-right: 0;
}

#login-dropdown-list.accounts-dialog {
    right: 14px;
    left: auto;
}

.search-form {
    margin-bottom: 1em;
}

.ma-parties-list{
    .angular-google-map{
        box-sizing: border-box;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        box-sizing: border-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .angular-google-map-container{
        box-sizing: border-box;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .rsvps-sum{
        float:left;
        width:50px;
        text-align: center;
        .rsvps-amount{
            font-size:24px;
        }
        .rsvps-title{
            font-size:13px;
            color:#aaa;
        }
    }

    .ma-party{
        .ma-name{
            a{
                text-decoration: none;
                color : #333;
            }
        }
        .ma-description{

        }
    }
}